
<html>
    <head >    
        <tr>
        <h1 style="background-color: white; padding:18px 18px; font-family: Arial, Helvetica, sans-serif; text-align: center;" width="480" >
            Verify Your Email
        </h1>
        </tr>
    </head>
    <div style="border-bottom: 1px solid #999; margin: 20px 0 20px 0"/>
    <body style="font-family: sans-serif; background: #f5f5f5;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
        <td width="100%" align="center">
            <table cellspacing="0" cellpadding="0" border="0" width="480">
            <tr>
                <td style="background-color: white; padding:18px 18px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px;  text-align: center; " width="480" >
                Please verify your email to secure your account. 
                <p><a class="btn btn-success" href="{{key}}"><button style="border: 0; width: 100px; border-radius: 4px; cursor: pointer; color: white; height: 30px; font-size: 12px; font-weight: 100; background-color: #3897f0;">VERIFY</button></a></p>
                </td>
            </tr>
                <tr>
                <td style="background-color: white; padding:18px 18px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px;  text-align: center;" width="480" >
                Or paste this link into your browser: &nbsp;<a href="{{key}}">{{key}}</a>
                </td>
            </tr>
            <div style="border-bottom: 1px solid #999; margin: 20px 0 20px 0"/>
            <tr>
                <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #999; padding: 12px 18px; text-align: center;">
                <p>
                    This email was sent by Pinner
                    ©2019 Kekeke Group, LLC. | Privacy Policy 
                </p>
                </td>
            </tr>
            </table>
        </td>
        </tr>
    </table>
    </body>
</html>